body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
}

.search-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.brand-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc; /* Add border */
}

.brand-name {
  font-weight: normal;
  flex: 1;
  width: 25%;
  font-size: 125%;
}

.color-box-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  flex-wrap: wrap;
  width: 75%;
}

.brand-row .color-box {
  width: 60px;
  height: 45px;
  margin-right: 0.5rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.brand-row .color-box:hover {
  filter: brightness(95%);
}
.footer {
  text-align: center;
  margin: 2rem auto;
}

.sidebar {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: #fff;
}

.content {
  padding: 20px;
}

@media (min-width: 768px) {
  .sidebar {
    height: 100vh;
    border-right: 1px solid #dcdcdc;
  }

  .content {
    margin-left: 20px; /* Width of the sidebar */
  }
}
@media (max-width: 767px) {
  .sidebar {
    border-bottom: 1px solid #dcdcdc;
  }
}
.copied-alert {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.brandcolors {
  font-weight: 700;
  position: relative;
  background: linear-gradient(
    45deg,
    #00205b,
    #009f4d,
    #efdf00,
    #fe5000,
    #e4002b,
    #e4002b,
    #da1884,
    #a51890
  );
  background-size: 100% 50%;
  -webkit-background-clip: text;
  color: transparent;
}

.brandcolors strong {
  font-weight: 700;
}
